<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Cadastro de Cursos</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
</head>
<body>
	<div class="container">
		<div class="panel-default">
			<div class="text-center">
				<h1 class="h4 text-gray-900 mb-4">Cadastrar Cursos</h1>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" th:action="@{/curso/salvar}" th:object=${cursoNovo} method="post" style="margin: 10px;">
					<div class="form-group">
						<div class=""form-group"" >
							<label>
							Professores
							 </label>
							 <select class=-"form-control" th:field="*{professor}"> 
							 	<option value = "">Selecione um Professor</option>
							 	<option th:each=" prof : ${professores}" th:value=" ${prof.Id}" th:text=" ${prof.nome}"> </option>
							 </select>
						</div>
						<fieldset>
							<div class="form-group row">
								<label>Descrição</label>
								<input type="text" class="form-control input-sm" th:field="*{descricao}" placeholder="Informe o nome" maxlength="50">
							</div>
						</fieldset>
						<div align="center">
							<button type="submit" class="btn btn-sm btn-sucess">Salvar</button>
							<button type="cancel" class="btn btn-sm btn-alert">Cancelar</button>
							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>